<!DOCTYPE html>
<html>
<head>
	<title>test</title>
	<link rel="stylesheet" type="text/css" href="./Public_designs/css/style.css">
</head>
<body>
	<div class="main">
		<div class="area">
				<div class="price_area">
					<tr class="">
						<td><input id="price" type="text" name="price" placeholder="enter price" v-model="price"></td>
					</tr>
					<p>{{ enteredPrice }}</p>					
				</div>
				<div class="img">
					<img v-show="uploaded_img" :src="uploaded_img" />					
					<tr class="tmp">
						<td>
							<input type="file" id="reciept_img" ref="file" v-on:change="file_change" accept="image/*">
						</td>
					</tr>
				</div>				
				<div class="category_area">
					<div id="category">	
						<select name="example" v-model="selected_category">
							<option v-for="(item, index) in categorys" v-bind:value="item.id">{{ item.detail.name }}</option>
						</select>
					</div>			
					<button type="submit" name="submit_btn" value="submit" v-on:click="postData(price)">Submit</button>	
				</div>
				<div class="history">
					<div v-if="post_history_flag">
						<ul class="ul-page">							
							<li v-for="(item,index) in post_index">
								<p>{{ item.price }} {{ categorys[item.category_id-1]['detail'].name}} {{ item.date }}</p>
						    </li>			
						</ul>
					</div>
				</div>
				<div class="history">
					<div v-if="post_flag">
						<ul class="ul-page">							
							<li v-for="(item,index) in paid_history">
								<p>¥{{ item.price }} {{ categorys[item.category_id-1]['detail'].name }} {{ item.date }} {{ item.img }}</p>
						    </li>			
						</ul>
					</div>	
				</div>
				<div id="page">
					<div v-if="load_page_flag">
						<ul class="ul-page">
							
							<li v-for="(item,index) in page_items
							">
								<p>{{ item.id }}</p>
						    </li>			
						</ul>
					</div>
				</div>		
		</div>
	</div>	
</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
<script src="./scripts/moment.js"></script>
<script src="./scripts/vue.js"></script>
<script src="./scripts/vue_components/my-component.js"></script>
<script src="./scripts/main.js"></script>
<script src="./scripts/api.js"></script>

<script type="text/javascript">	
	// TODO
	var total_pfm_data = {
		selected_page : 1,
		page_items:[],
		category:[],
	}	
	
</script>
</html>